html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /*background: #113A47;*/
    background: black;
}

.timer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: #D7ECFF;
    text-shadow:
            0 0 2px #fff,
            0 0 6px #fff,
            0 0 10px #fff,
            0 0 15px #19d14a,
            0 0 25px #19d14a,
            0 0 30px #19d14a,
            0 0 40px #19d14a,
            0 0 50px #19d14a;
}

.pause{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    color: white;
}

.author{
    position:absolute;
    bottom:10px;
    right:50%;
    left:50%;
    margin-left:-150px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.close-button{
    position:absolute;
    top: 0;
    right:0;
    width: 70px;
    text-align: center;
    font-size: 30px;
    border: none;
    color: white;
    background-color: darkred;
    outline: none;
}
.close-button:hover{
    background-color: #640101;
}
.close-button:active{
    background-color: red;
}

.background-box{
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    border: none
}

.background{
    background-image: none;
    background-repeat: no-repeat;
    width: 0;
    height: 0;
    background-size: 0 0;
}

/*#timerDiv{
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}*/