html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /*background: #113A47;*/
    background: #68686d;
    display: grid;
    height: 100%;
}

h1{
    text-align: center;
}

.form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    /*margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    justify-content: center;
    align-items: center;*/
}

ul {
    list-style: none;
}

li{
    margin-bottom: 80px;
}

/*.theme-selector-div{
    top: 50px;
}

.guess-time-selector-div{
    top: 200px;
}

.playlist-size-selector-div{
    top: 200px;
}*/